@import "tailwindcss";

/* Importar fuente de lujo (Opcional pero recomendado) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;600&display=swap');


@font-face {
    font-family: 'TASA';
    src: url(./fonts/TASAOrbiter-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}


/* Aplicar fuentes */
.font-serif { font-family: 'TASA', serif; }
.font-sans { font-family: 'Manrope', sans-serif; }

#brand {
    font-family: 'TASA';
}

/* Animación Ken Burns (Zoom Lento) */
@keyframes ken-burns {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15); /* Crece solo un 15% */
    }
}

.animate-ken-burns {
    /* Nombre | Duración | Curva | Bucle */
    animation: ken-burns 20s ease-out infinite alternate;
}

/* Definición de la Animación */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px); /* Empieza 40px abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina en su lugar */
    }
}

/* La Clase Maestra */
.animate-fade-up {
    /* Duración: 1.5s (Lento es elegante) */
    /* Curva: Empieza con energía y frena suavemente */
    animation: fadeInUp 1.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    
    /* Importante: Empieza invisible para que no parpadee al cargar */
    opacity: 0; 
}

/* Utilidades de Retraso (Para que salga después del título o antes) */
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }
.delay-700 { animation-delay: 0.7s; }

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Efecto suave para el menú */
.menu-overlay {
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* Imágenes con zoom suave */
.img-zoom {
    transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.group:hover .img-zoom {
    transform: scale(1.05);
}

nav {
    background-color: rgba(54, 54, 54);
}